@using CommonLayer.Model
@model IEnumerable<ViewProductModel>
@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Products</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Product" asp-action="Create" class="btn btn-dark">
                <i class="bi bi-plus-circle"></i> &nbsp; New Product
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-hover table-striped">
        <thead>
            <tr >
                <th>
                   Id
                </th>
                <th>
                    Code
                </th>
                <th>
                    Name
                </th>
                <th >
                    Description
                </th>
                <th>
                    Expiry Date
                </th>
                <th>
                    Category
                </th>
                <th>
                    Image
                </th>
                <th>
                    Status
                </th>
                <th>
                    Date Added
                </th>
            </tr>
        </thead>
        <tbody>
            
            @foreach (var product in Model)
            {
                <tr>
                    <td >
                        @product.ProductId
                    </td>
                    <td >
                        @product.ProductCode
                    </td>
                    <td  >
                        @product.ProductName
                    </td>
                    <td style="max-width: 250px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                        @product.ProductDescription
                    </td>
                    <td >
                        @product.ExpiryDate.ToShortDateString()
                    </td>
                    <td >
                        @product.Category
                    </td>
                    <td >
                        <img src="@product.ProductImage" width="50px" height="50px">
                    </td>
                    <td >
                        @((bool)product.IsActive ? "Active" : "Suspended")
                    </td>
                    <td >
                        @product.CreationDate.Date.ToShortDateString()
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>

@if (ViewBag.Page > 0)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page - 1 })" 
       class="btn btn-default">
        &laquo; Prev
    </a>
}
@if (ViewBag.Page < ViewBag.MaxPage)
{
    <a href="@Url.Action("Index", new { page = ViewBag.Page + 1 })" 
       class="btn btn-default">
        Next &raquo;
    </a>
}
